@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: url(./vendor/fonts/Roboto-Regular.woff2) format("woff2");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: url(./vendor/fonts/Roboto-Medium.woff2) format("woff2");
  }
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: url(./vendor/fonts/Roboto-Bold.woff2) format("woff2");
  }
}

.filters-text {
  @apply text-black text-base font-roboto font-bold text-right;
}

.filters-select {
  @apply select select-bordered w-full max-w-72 min-h-[38px] h-[38px]
  text-customBlack font-roboto text-sm leading-[22px] font-normal text-left;
}

.filters-option {
  @apply text-customBlack font-roboto text-sm leading-[22px] font-normal text-left;
}

.radio-button {
  @apply w-[72px] h-10 bg-white min-h-10 font-roboto text-sm leading-6 font-normal text-left;
}

.btn:is(input[type="radio"]:checked) {
  @apply bg-blue border-blue;
}

.btn:is(input[type="radio"]:checked:hover) {
  @apply bg-blue border-blue;
}

.luckyButton {
  @apply max-w-[120px] w-full h-8 py-1 px-[15px] box-border border
  border-solid border-lightGray rounded-sm bg-white shadow-customShadow
  font-roboto text-sm leading-[22px] font-normal text-center text-customBlack
  transition-opacity ease-out duration-300 hover:opacity-80;
}

.cardText {
  @apply font-roboto text-xs leading-6 font-normal text-left text-customBlack;
}

.difficultyStarContainer {
  @apply flex gap-x-0.5;
}

.recipeCardList {
  @apply grid grid-cols-3 grid-rows-2 gap-x-3 gap-y-2 xlarge:grid-cols-2 tablet:grid-cols-1;
}

.paginationButton {
  @apply min-h-8 h-8 max-w-8 w-full px-[7px] py-[1px] bg-white box-border border-solid rounded-sm
  border-lightGray font-roboto text-sm leading-[22px] font-normal text-customBlack;
}

.paginationDotButton {
  @apply min-h-8 h-8 max-w-8 w-full px-2 border-none font-roboto text-sm leading-8
   font-normal text-center tracking-[2px] text-black25;
}

.paginationBtnActive {
  @apply border-blue font-medium text-blue;
}

/* .paginationButton:active {
  @apply border-blue font-medium text-blue bg-white;
} */
